ul{
    margin:0;
    padding:0;
    list-style: none;
}


body{
    margin: 0;
    background:#ddd;

    .container{
        margin: 0 auto;
        max-width: 960px;
        padding: 2em;
        background: white;

        >h1{
            color: rgba(255, 0, 0, 0.24);
            font-size: 3.5em;
            font-family: monospace;
            text-shadow: 4px 4px 0px rgba(0, 255, 0, 0.56);
        }

        input#url{
            box-sizing: border-box;
            width: 100%;
            font-size: 1em;
            line-height: 1.1em;
            padding: 6px 0 6px 6px;
            border: 0 solid #aaa;
            border-bottom-width: 2px;
            outline: 0;
            margin: 0.3em 0;
            &+.desc{
                font-size: .8em;
                text-align: right;
            }
            &.valid{
                border-color : #080;
                color : #080;
                &+.desc:after{
                    content:'✔';
                    color : #080;
                }
            }
            &.invalid{
                border-color : #b44;
                color : #b44;
                &+.desc:after{
                    content:'invalid commit URL';
                    color : #b44;
                }
            }
        }

        #content{
            margin-top: 1em;

            article.file{
                margin: 2em 0;
                overflow: hidden;
                background:#fff;

                >header{
                    margin:0;
                    h1{
                        padding: .5em .5em 0;
                        font-size: .9em;
                        margin: 0 0 0.5em;
                        line-height: 1.6em;
                        font-weight: bold;
                        border-bottom: dashed 2px #ccc;
                        display: inline-block;
                    }
                }

                >main{
                    ul{
                        li.chunk{
                            margin: 0 0 -1px;
                            overflow-x:auto;
                            position: relative;

                            .ui{
                                position: absolute;
                                top: 1em;
                                right: 0;
                                padding: .3em;
                                z-index: 1;

                                button{
                                    font-size: 1.2em;
                                    border: 0;
                                    border-radius: 3px;
                                    background: #ddd;
                                    line-height: .6em;
                                    vertical-align: middle;
                                    color: #777;
                                    outline: 0;
                                }
                            }

                            code{
                                display:table;
                                background: #f6f6f6;
                                min-width: 100%;
                                line-height: 1.5em;
                                position: relative;

                                &:before{
                                    position: absolute;
                                    top: 0;
                                    width:100%;
                                    content:'';
                                    display: block;
                                    height: 1.5em;
                                    background:
                                    linear-gradient(-30deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 50%, #fff 50%, #fff 100%),
                                    linear-gradient(30deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 50%, #fff 50%, #fff 100%);
                                    background-size: 2em 1.5em;
                                }
                                &:after{
                                    position: absolute;
                                    bottom: 0;
                                    width: 100%;
                                    content:'';
                                    display: block;
                                    background:#ddd;
                                    height: 1.5em;
                                    background:
                                    linear-gradient(-30deg, #fff 0, #fff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%),
                                    linear-gradient(30deg, #fff 0, #fff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
                                    background-size: 2em 1.5em;
                                    background-position: 1em 0;
                                }

                                .row{
                                    display:table-row;
                                    .cell {
                                        display: table-cell;
                                        white-space: pre;
                                        &.number{
                                            width: 2em;
                                            &:before,
                                            &:after{
                                                content:' ';
                                                display: inline-block;
                                                width:2em;
                                                color:#fafafa;
                                                text-align: right;
                                                padding: 0 .25em;
                                                background:rgba(0,0,0,0.3);
                                                border-right:solid 1px rgba(0,0,0,0.1);
                                            }
                                        }
                                        &.line {
                                            padding : 0 0 0 1em;
                                            color:#555;
                                        }
                                    }
                                    &:first-child .number{
                                        &:before, &:after {
                                            padding-top: 1.4em;
                                        }
                                    }
                                    &:last-child .number{
                                        &:before, &:after {
                                            padding-bottom: 1.4em;
                                        }
                                    }

                                    &.normal{
                                        .number{
                                            &:before{
                                                content:attr(data-line-number1);
                                            }
                                            &:after{
                                                content:attr(data-line-number2);
                                            }
                                        }
                                        .line:before {
                                            content: ' ';
                                        }
                                    }
                                    &.add{
                                        background: #e3ffe3;
                                        .number:after{
                                            color: #aea;
                                            content:attr(data-line-number);
                                        }
                                        .line:before{
                                            content: '+';
                                            color: #0d0;
                                        }
                                    }
                                    &.del{
                                        background: #ffe3e3;
                                        .number:before{
                                            color: #fdd;
                                            content:attr(data-line-number);
                                        }
                                        .line:before{
                                            content: '-';
                                            color: #d00;
                                        }
                                    }
                                }
                            }

                            &[data-status=both]{
                                .ui button[data-target-status=both]{
                                    background : white;
                                }
                            }

                            &[data-status=before]{
                                .ui button[data-target-status=before]{
                                    background : white;
                                }

                                code {
                                    .row{
                                        &.add, .cell.number:after {
                                            display:none;
                                        }
                                    }
                                }
                            }

                            &[data-status=after]{
                                .ui button[data-target-status=after]{
                                    background : white;
                                }

                                code {
                                    .row{
                                        &.del, .cell.number:before {
                                            display:none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}